[color]
	ui = true
[user]
	name = Juan Manuel Berros
	email = juanmaberros@gmail.com
[core]
	editor = vim
[merge]
  tool = mymeld
  conflictstyle = diff3
[mergetool "mymeld"]
  cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $BASE $REMOTE $MERGED
[alias]
  this = !git init && git add . && git commit -m \"initial commit\"
  amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
  remove = !git ls-files -z --deleted | xargs -0 git rm
  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\t=> \\2/' | sort
  ignore=!([ ! -e .gitignore ] && touch .gitignore) | echo $1 >>.gitignore
