[color]
  ui = true
[user]
  name = Juan Manuel Berros
  email = juanmaberros@gmail.com
[core]
  editor = vim
[merge]
  tool = mymeld
  conflictstyle = diff3
[mergetool "mymeld"]
  cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $BASE $REMOTE $MERGED
[push]
	default = simple
