# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command
5 8 * * * /bin/bash -l -c /home/juan/repos/last_episode/mail_calvin.rb > /dev/null
0 * * * * /bin/bash -l -c '/home/juan/repos/last_episode/download_daily_shows.rb' > /dev/null
0 8  * * * /bin/bash -l -c '/home/juan/repos/last_episode/daily_hackers_dictionary.rb' > /dev/null
0 11 * * * /usr/bin/update-manager
